<h1>file nay tao ra de luyen tap</h1>
<h1>Day la phan viet o local</h1>
<<<<<<< HEAD
<h2> co tinh tao conflict</h2>
=======
<h2>conflict duoc tao mot cach co tinh</h2>
>>>>>>> 0f257dc23fe4e41ee63cdfdf5944be9ba9854844
