<h1>file nay tao ra de luyen tap</h1>
<h1>Day la phan viet o local</h1>
<h2>conflict duoc tao mot cach co tinh</h2>

this is new branch, i will try to understand.
Minh se tiep tuc lam tren branch nay xem sao 
he he he chan qua
Thu merge tai may
Thu merge tai may
